<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="ModelContainer" connectionString="metadata=res://*/SQL.Model.csdl|res://*/SQL.Model.ssdl|res://*/SQL.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SZEPDM;initial catalog=swMB;persist security info=True;user id=mbAdmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HPMDEntities" connectionString="metadata=res://*/SQL.Model1.csdl|res://*/SQL.Model1.ssdl|res://*/SQL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SZEPDM;initial catalog=HPMD;persist security info=True;user id=mbAdmin;password=mbAdmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>